/*-------------A propos---------*/
#a_propos article{
	line-height: 150%;
	margin :auto ;
	width:80%;
	font-size: 150%;
	background-image: url(http://zhongguose.com/img/texture.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

#a_propos article div {
  width: 100%;
  right: 0;
  bottom: -100%;
  background: inherit;
  overflow: hidden;
	margin-bottom: 2.5%;
}
#a_propos article div::before {
  content: '';
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-attachment: fixed;
  filter: blur(2px);
}
#a_propos article div::after {
  content: "";
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

#a_propos article div p {
  z-index: 1;
  position: relative;
  margin: 0;
}

:root {
  --height: 100px;
  --width: 200px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bouton a{
	color: white;
	text-decoration: none;
}
.bouton {
  position: relative;
  width: calc(1.2 * var(--width));
  height: calc(0.7 * var(--height));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0, 0.22, 0.3, 1);
}
.bouton:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}
.bouton span {
  color: #fff;
  font-size: 1rem;
  z-index: 10;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.bouton {
  background: #e74c3c;
}
.bouton .back {
  position: absolute;
  width: 0;
  height: 0;
  filter: url(#filter);
  border-radius: 50%;
  z-index: 5;
  transition: all 2.5s cubic-bezier(0.1, 0.22, 0.3, 1);
}

.bouton .back {
  right: -50%;
  bottom: -50%;
  background: #2980b9;
}
.bouton:hover .back {
  width: calc(2 * var(--width));
  height: calc(2 * var(--height));
}

@media only screen and (max-width: 1000px) {
  #a_propos .wrapper {
    flex-direction: column;
    width:auto;
    height:auto;
  }

  .bouton {
    margin: 0.8rem 0;
  }

  h1{
    margin-bottom:20%;
  }  
}
